{% extends 'base/base.html' %}


{% block content %}
  <h3> Listado De Reservas </h3>


  <table class="table  table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha_ingreso</th>
        <th scope="col">Fecha_salida</th>
        <th scope="col">Hora_ingreso</th>
      </tr>
    </thead>
    <tbody>

        {% for reserva in reservas %}
            <tr>
                
                <td>{{ reserva.ID}}</td>
                <td>{{ reserva.Fecha_ingreso}}</td>
                <td>{{ reserva.Fecha_salida}}</td>
                <td>{{ reserva.Hora_ingreso}}</td>
            </tr>
     {% endfor %}
      
     
    </tbody>
  </table>
  
{% endblock %}