{% extends 'base/base.html' %}


{% block content %}
  <h3> Listado De Agencias Viajeras </h3>
  
  <h1 class="pull-right"> </h1>
  <a href="{% url 'Agencia_de_viajes:agencia_de_viajeCreate' %}" class="btn btn-success pull-right" style="margin-top: -10px; margin-bottom: 5px;">Adicionar</a>
<!-- ////////////////////////////////////////////////////////////// -->


  <table class="table  table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Ciudad</th>
      </tr>
    </thead>
    <tbody>


      {% if agencia_de_viajes %}

        {% for agencia_de_viaje in agencia_de_viajes %}
            <tr>
                
                <td>{{ agencia_de_viaje.id}}</td>
                <td>{{ agencia_de_viaje.Nombre}}</td>
                <td>{{ agencia_de_viaje.Direccion}}</td>
                <td>{{ agencia_de_viaje.Telefono}}</td>
                <td>{{ agencia_de_viaje.Ciudad}}</td>

                <td>
                  <a class="btn btn-warning " href="{% url 'Agencia_de_viajes:agencia_de_viajeEdit' agencia_de_viaje.id %}" >
                    <i class="fas fa-user-edit"></i>
                  </a>
  
                  
                  <a class="btn btn-danger " href="{% url 'Agencia_de_viajes:agencia_de_viajeEliminar' agencia_de_viaje.id %}" >
                    <i class="fas fa-user-times"></i>
                  </a>
                </td>
            </tr>
      {% endfor %}

      {% else %}

      <h3> No existe Registros De Agencias </h3>
   {% endif %}
      
     
    </tbody>
  </table>
  
{% endblock %}