{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hoteles Star 🌟 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#">Hoteles
            <span class="visually-hidden">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/habitaciones">Habitaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categorias">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/agencia_de_viajes">Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/personas">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reservas">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hoteles">Hoteles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Informes</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Daniel</a>
            <a class="dropdown-item" href="#">Jose </a>
            <a class="dropdown-item" href="#">Vega </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Rojas </a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Búsqueda">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">🔎</button>
      </form>
    </div>
  </div>
</nav>

{% block content %}


{% endblock %}


<script src="{% static 'js/bootstrap.min.js' %}" ></script>   
<script src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>  
</body>
</html>
