{% extends 'base/base.html' %}


{% block content %}
  <h3> Listado De Habitaciones  </h3>


  <table class="table  table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo_De_Habitacion</th>
      </tr>
    </thead>
    <tbody>

        {% for habitacion in habitaciones %}
            <tr>
                
                <td>{{ habitacion.id}}</td>
                <td>{{ habitacion.Tipo_De_Habitacion}}</td>
            </tr>
     {% endfor %}
      
     
    </tbody>
  </table>
  
{% endblock %}